<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="#">
          <h1>Samyak Datta</h1>
        </a></li>
        
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
        <li>
          <a href="https://www.linkedin.com/in/samyakdatta/">
            <img style="height:35px;" src="{{ "/static/img/ico/linkedin-logo.png" | prepend:site.baseurl }}">
          </a>
        </li>
        <li>
            <a href="https://github.com/samyak-268/">
              <img style="height:40px;" src="{{ "/static/img/ico/github-logo.png" | prepend:site.baseurl }}">
            </a>
          </li>
          <li>
              <a href="https://scholar.google.com/citations?user=qVt6yREAAAAJ&hl=en">
                <img style="height:35px;" src="{{ "/static/img/ico/scholar-logo.jpg" | prepend:site.baseurl }}">
              </a>
            </li>
            <li>
                <a href="{{ "/static/pdfs/cv.pdf" | prepend:site.baseurl }}">
                  <img style="height:35px;" src="{{ "/static/img/ico/resume-logo.png" | prepend:site.baseurl }}">
                </a>
              </li>
      </ul>
    </div>

  </div>
</div>
